snippet rec "react component"
import React, { Component } from 'react';

class ${1:name} extends Component {
	constructor(props) {
		super(props);
		${0:${VISUAL}}
	}
}

export default $1
endsnippet

snippet ref "react function component"
import React from 'react';

function ${1:name}(props) {
	return (
		${0:${VISUAL}}
	)
}

export default $1
endsnippet

snippet rens "react style"
import { StyleSheet } from 'react-native';

export default StyleSheet.create({
	${0:${VISUAL}}
})
endsnippet
