snippet imp "import ... from ..."
import ${2:name} from '${1}'
endsnippet

snippet for "for (...) {...}"
for (let ${1:i} = 0, ${2:len} = ${3:Things.length}; $1 < $2; $1 += 1) {
	${0:${VISUAL}}
}
endsnippet

snippet fori "for key in obj"
for (let ${1:prop} in ${2:object}) {
	${0:$2[$1]}
}
endsnippet
